# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Settings File
**/settings.json
/app/icons

# Environments
.env
.venv
env/
venv/
# uv
.python-version
pyproject.toml
uv.lock
# Test files
test_*.py
demo_*.py

# 직접 추가
comic-translate-venv/
.idea
modules/translation/llm/sys_prompt.py